# file: Python Snippets

snippet def
	def ${1:function}(${2:args}):
	    ${0:pass}
snippet for
	for ${1:item} in ${2:items}:
		${0}
snippet wh
	while $1:
		${0:${VISUAL}}
snippet ifmain
	if __name__ == '__main__':
		${0:main()}
# vim: set sts=4 sw=4 ts=4 noet:
