# file: Swift Snippets

snippet if
	if ${1:condition} {
		$0
	}
snippet fore
	for ${1:index} in ${2:items} {
		$0
	}
snippet forr
	for ${1:index} in ${2:0}...${3:length} {
		$0
	}
# vim: set sts=4 sw=4 ts=4 noet:
