#==================================================================
#                              Basic
#==================================================================
snippet cl
	console.log($1);
snippet ce
	console.error($1);
snippet if
	if ($1) {
	  $0
	}
# vim: set sts=4 sw=4 ts=4 noet:
