snippet fn "function"
auto $1($3) -> $2 {
  $0
}
endsnippet

snippet fora "for auto"
for (auto&& ${1:i} : ${2:v}){
  $0
}
endsnippet

snippet incc "#include <>"
#include <$0
endsnippet

snippet mainn "main ()"
int main() {
	$0
	return 0;
}
endsnippet
