snippet rubi "description" w
｜$1《$2》$0
endsnippet

snippet dash "dash" w
—
endsnippet

snippet ddash "dash" w
——
endsnippet

snippet lead "三点リーダー" w
…
endsnippet

snippet dlead "三点リーダー" w
……
endsnippet
